Adafruit-Blinka==7.3.0
adafruit-circuitpython-ads1x15==2.2.13
adafruit-circuitpython-busdevice==5.1.8
adafruit-circuitpython-typing==1.6.0
Adafruit-PlatformDetect==3.22.1
Adafruit-PureIO==1.1.9
certifi==2020.6.20
chardet==4.0.0
colorzero==1.1
distro==1.5.0
gpiozero==1.6.2
idna==2.10
prometheus-client==0.14.1
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
requests==2.25.1
rpi-ws281x==4.3.4
RPi.GPIO==0.7.0
six==1.16.0
spidev==3.5
ssh-import-id==5.10
sysv-ipc==1.1.0
urllib3==1.26.5

